<h1>My Tasks</h1>

<ul>
  <% @tasks.each do | task | %>
    <li>
    <input type="checkbox"
      <% if task.completed  %>
      checked
      <% end %>
    >
    <%= link_to task.title, task_path(task.id) %>
-
    <%= link_to "Delete",
            task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
            </li>
  <% end %>
</ul>

<%= link_to "Create Task", tasks_new_path %>
