<h2><%= @task.title %></h2>
<p><%= @task.details %></p>

<% if @task.completed  %>
<input type="checkbox" checked />
<p>This task is completed</p>
<% else  %>
<input type="checkbox" />
<p>This task needs to be completed</p>
<% end %>

<%= link_to "Back to list", tasks_path %>
<%= link_to "Edit Task", task_edit_path(@task) %>
